@import url(//fonts.googleapis.com/css?family=ZCOOL+KuaiLe);

a {
  color: snow;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: red;
}

h1 {
  color: red;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'century gothic', sans-serif;
}

html {
  background-color: lightsteelblue;
  color: snow;
  font-family: 'century gothic', sans-serif;
  text-align: center;
}

img {
  border: 10px ridge red;
  margin: 10px;
}

ol {
  text-align: left;
}

ul {
  text-align: left;
}
