@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

a {
  color: snow;
  text-decoration: none;
}

a:hover {
  color: lavenderblush;
  text-decoration: underline;
}

a:visited {
  color: lavenderblush;
}

h1 {
  color: lavenderblush;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'century gothic', sans-serif;
}

html {
  background-color: lightsteelblue;
  color: snow;
  font-family: 'century gothic', sans-serif;
  text-align: center;
}

img {
  border: 10px ridge lavenderblush;
  margin: 10px;
}

ol {
  text-align: left;
}

ul {
  text-align: left;
}
